@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap%27%27');


body{
    font-family: 'roboto', sans-serif;
    width: 100%;
}

header{
    background-image: url(../img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100px;
}

.cabecalho{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    gap: 20px;
    width: 90%;
    align-items: center;
}

.logo{

}

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.menu ul li{
    display: inline;
    border-radius: 10px;
    padding: 5px;
}

.menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 700;

}

main{
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.apresentacao{
    display: flex;
    background-color: rgba(68, 67, 67, 0.527);
    text-align: center;
    align-content: center;
    width: 100%;
    align-items: center;
}

#myVideo{
    width: 100%;
}

.preto{
    background-color: black;
}

.curiosidades{
    background-image: url(../img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /*   background-image: linear-gradient(#347fc0 , #205fab , rgb(34, 105, 167));
  */  padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.titulo{
font-weight: 590;
    font-size: 35px;
    padding: 30px 0;
    color: beige;
}

.itens{
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 0;
    width: 80%;
}

.item{
    border-radius: 15px;
    width: 30%;
    height: 500px;
    /* min-height: 385px;
    max-height: 500px; */
    min-width: 270px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: center;
    padding: 15px 10px;
}



.item img{
    height: 200px;
    opacity: 1;
    width: 100%;
    padding: 3px;
    border-radius: 10px;
}

.item h3{
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.item p{
    text-align: center;
    font-weight: 150;
    color: white;
    font-size: 15px;
    letter-spacing: 1.5px;
    font-family: 'Roboto', sans-serif;    
}

.video{
    background-image: url(../img/header.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    text-align: center;
    align-content: center;
    width: 100%;
    align-items: center;
    justify-content: end;
}

.video iframe{
    /* width: 516px; */
    height: 326px;
    width: 100%;
}

footer{
    background-image: url(../img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 25px 0;
    bottom: 0;
    gap: 10px;
}

.caixafooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 90%;
    align-items: center;
    padding: 10px;

}

.icone{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    border-radius: 100px;

}

.icone a img {
    width: 55px;
    height: 55px;
}

footer p{
    font-size: 15px;
    font-style: arial;
    font-family: 'Ramaraja',serif;
    color: white;
}
@media only screen and (min-width: 601px){
    
.menuhamburguer{
    display: none;
}

}
@media only screen and (max-width: 600px){
    
.cabecalho{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-between;
}

.cabecalho a{
    display: none;
}
.menuhamburguer img{
    width: 50px;
    height: 50px;
}

.item{
    height: auto;
}

.video iframe{
    width: auto;
}